html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "gumley";
  src: url(gumley.otf);
}

body {
  --main-bg: #a8dadc;
  --problem-bg : #457b9d;
  --problem-hover: #1f4a65;
  --problem-title: black;
  --navbar-bg: #1d3557;
  --navbar-selected: #0c203b;
  --code-bg: #071529;
  --case-bg: #f1faee;
  --text: black;
  --selected: red;
  background-color: var(--main-bg);
  font-family: Helvetica;
  color: white;
}

header{
  position: sticky;
  background-color: var(--main-bg);
  font-family: "gumley";
  font-size: 20px;
}

header>h1{
  margin: 0;
  position: relative;
  color: white;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.08em;
  font-family: "gumley";
}
header>h1::before{
  z-index: -1;
  content: "Cortex Challenge";
  position: absolute;
  top: -0.1em;
  text-align: center; 
  background-color: red;
  background-clip: text;
  color: transparent;
  font-size: 1.2em;
  letter-spacing: normal;
}
header>h2{
  margin: 0.5rem;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: "gumley";
}
.navbar{
  font-family: "gumley";
  background-color: var(--navbar-bg);
  padding: 1rem;  
  font-size: 1.8em;
}
.navbar>ul {
  background-color: var(--navbar-bg);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar>ul>li{
  padding: 0.5rem 2rem;
  border-radius: 20px;
}
.selected{
  background-color: var(--navbar-selected);
  border-radius: 20px;
  padding: 0.5rem 2rem;
}
.navbar>ul>li>a{
  text-decoration: none;
  color: white;
}
.problems{
  margin-top: 1rem;
  width: inherit;
  background-color: var(--problem-bg);
  border-radius: 200px;
  font-size: 1.4em;
  padding: 0.1rem;
}
.problems>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.problems>ul>li{
  box-sizing: border-box;
  border: var(--problem-bg) solid 2px;
  border-radius: 5px;
  padding: 0.2rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.problems>ul>li:first-child{
  background-color: var(--problem-hover);
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.problems>ul>li:hover{
  background-color: var(--problem-hover);
  border: #fafafa solid 2px;
}

ul{
list-style-type: none;
text-decoration: none;
}
.problem{
  width: 80%;
  margin: auto;
  display: none;
}
.problem:first-child{
  display: block;
}
.problem>h1{
  text-align: center;
  width: 100%;
  color: transparent;
  background-clip: text;
  background-color: var(--problem-title);
}

.try{
  display: flex;
  flex-direction: row;
  background-color: var(--case-bg);
  border-radius: 15px;
  margin-bottom: 5rem;
}
.try>p{
  color: var(--text);
  width: 50%;
  padding: 3rem;
}
.try>pre{
  min-width: 38rem;
  width: 50%;
  border-radius: 15px;
  margin: 0;
  background-color: var(--code-bg);
}
footer{
  background-color: var(--navbar-bg);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
footer>div, footer>nav>ul{
  margin: auto;
  padding-top: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer>div>p{
  margin: 0;
}
.bottom-bar{
  padding: 0.4rem;
  font-size: 1.8em;
  border-radius: 0;
}
.bottom-bar>ul>li>a{
  text-decoration: none;
  color: white;
}
.case{
  display: flex;
  flex-direction: row;
  background-color: var(--case-bg);
  color: var(--text);
  border-radius: 15px;
  margin-bottom: 5rem;
  padding: 3rem;
}